<div class="animated fadeIn fast">
    <form #formulariorpt="ngForm" name="myform"> 
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <select class="custom-select form-control" id="select_rpt" name="select_rpt" required="required" [(ngModel)]="reporteData.cod_reporte">
                        <option selected="selected" [ngValue]="undefined">Seleccione el reporte...</option>
                        <option [value]="1">Mejores clientes</option>
                        <option [value]="2">Mejores empleados</option>
                        <option [value]="3">Productos mas vendidos</option>
                        <option [value]="4">Informe diario de ventas</option>
                    </select>
                </div>
                <div class="form-group col-2">
                    <button type="button" class="btn btn-info" [disabled]="formulariorpt.invalid" (click)="generarcsv()" id="btn_rpt">Generar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="mdlSample" class="modal fade" role="dialog"
    [ngStyle]="{ display: helperService.modalOpen ? 'block' : 'none', opacity: 1 }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color: white;">{{ helperService.modalTitle }}</h4>
            </div>
            <div class="modal-body">{{ helperService.modalContent }}</div>

            <div class="modal-footer">
                <button type="button" id="btnOK" class="btn btn-success" (click)="helperService.openModal(false)">
                    <i class="fa fa-check fa-fw"></i> Ok
                </button>
            </div>
        </div>
    </div>
</div>