<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-10 offset-1">
                <table id="tbl_medicamentos" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Laboratorio</th>
                            <th>Existencias</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody id="body_medicamentos">
                        <ng-container *ngFor="let producto of productos">
                            <tr *ngIf="producto.cantidad > 0"
                                (click)="agrega(producto.idInventario,producto.nombreInv,producto.cantidad,producto.precio)">
                                <td>{{producto.nombreInv}}</td>
                                <td>{{producto.nombreLab}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td>{{producto.precio}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-5" id="div_carrito">
        <div class="row">
            <div class="col-11">
                <div class="card">
                    <div class="card-header">
                        Carrito de compras
                    </div>
                    <div class="card-body">
                        <table id="tbl_venta" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Medicamento</th>
                                    <th>Cantidad</th>
                                    <th>Valor</th>
                                    <th>Quitar</th>
                                </tr>
                            </thead>
                            <tbody id="body_venta">
                                <tr *ngFor="let produ of productosventa; index as i">
                                    <td>{{produ.nombreInv}}</td>
                                    <td><input type='number' onkeydown='return false' [(ngModel)]="produ.cantidad"
                                            min='1' max='{{produ.cantidadMax}}' (click)="actu_total()"></td>
                                    <td>{{produ.cantidad*produ.precio}}</td>
                                    <td><button class='btn btn-danger btn-sm' type='button' (click)="elimina(i)"> X
                                        </button></td>
                                </tr>
                            </tbody>
                            <tfoot class="bg-primary">
                                <td colspan="2"><b>Total</b></td>
                                <td id="total_venta"><b>{{totalventa}}</b></td>
                                <td></td>
                            </tfoot>
                        </table>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <select id="cliente" [(ngModel)]="idCliente" class="form-control" required="required">
                                    <option disabled [ngValue]="undefined" selected>Seleccione el cliente</option>
                                    <option *ngFor="let cliente of clientes" [ngValue]="cliente.idCliente">
                                        {{cliente.nombres}} {{cliente.apellidos}}</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row text-center">
                            <div class="col-12">
                                <button type="button" (click)="vender()" class="btn btn-primary" id="vender">Finalizar
                                    venta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-danger mr-auto" data-toggle="modal" data-target="#dialog_venta"
            id="ventas_realizadas">Ventas realizadas</button>
    </div>
</div>
<div id="dialog_venta" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ventas realizadas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tbl_ventas" class="table table-condensed">
                    <thead class="bg-primary">
                        <tr>
                            <th>Fecha</th>
                            <th>Valor total</th>
                            <th>Cliente</th>
                            <th>Vendedor</th>
                        </tr>
                    </thead>
                    <tbody id="body_ventas">
                        <tr *ngFor="let ven of ventas">
                            <td>{{ven.fecha}}</td>
                            <td>{{ven.valor}}</td>
                            <td>{{ven.cliente}}</td>
                            <td>{{ven.vendedor}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row" hidden="hidden">
                    <div class="col-2">
                        <form name="formPDF" method="post" action="./reporte/gestionPDF.php" target="_blank">
                            <input type="hidden" name="nombre" value="venta">
                            <input type="hidden" name="nombre_rpt" value="VENTAS">
                            <input type="submit" class="btn btn-info" value="Generar PDF">
                        </form>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-info" id="rpt_csv_venta">Generar CSV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div_rpt_detalle" hidden="hidden">
    <form name="formPDF" id="formDetalle" method="post" action="./reporte/gestionPDF.php" target="_blank">
        <input type="hidden" name="rpt" value="detalle">
        <input type="hidden" name="vwhere" id="vwhere" value="">
        <input type="hidden" name="nombre" value="venta">
        <input type="hidden" name="nombre_rpt" value="DETALLE DE VENTAS">
        <input type="submit" value="Generar PDF">
    </form>
</div>
<div id="dialog_venta_csv" hidden="hidden">
    <div class="col-3">
        <form name="formCSV_emp1" method="post" action="./reporte/gestionCSV.php" target="_blank">
            <input type="hidden" name="separator" value=",">
            <input type="hidden" name="nombre" value="venta">
            <input type="hidden" name="nombre_rpt" value="VENTAS">
            <input type="submit" class="btn btn-primary" onclick="cerrar('dialog_venta_csv');" value="Separar por ,">
        </form>
    </div>
    <div class="col-4">
        <form name="formCSV_emp2" method="post" action="./reporte/gestionCSV.php" target="_blank">
            <input type="hidden" name="separator" value=";">
            <input type="hidden" name="nombre" value="venta">
            <input type="hidden" name="nombre_rpt" value="VENTAS">
            <input type="submit" class="btn btn-primary" onclick="cerrar('dialog_venta_csv');" value="Separar por ;">
        </form>
    </div>
</div>
<div id="dialog_cliente_csv" class="row modal fade ng-hide" hidden="hidden">
    <div class="col-3">
        <form name="formCSV_emp1" method="post" action="./reporte/gestionCSV.php" target="_blank">
            <input type="hidden" name="separator" value=",">
            <input type="hidden" name="nombre" value="cliente">
            <input type="hidden" name="nombre_rpt" value="CLIENTES">
            <input type="submit" class="btn btn-primary" onclick="cerrar('dialog_cliente_csv');" value="Separar por ,">
        </form>
    </div>
    <div class="col-4">
        <form name="formCSV_emp2" method="post" action="./reporte/gestionCSV.php" target="_blank">
            <input type="hidden" name="separator" value=";">
            <input type="hidden" name="nombre" value="cliente">
            <input type="hidden" name="nombre_rpt" value="CLIENTES">
            <input type="submit" class="btn btn-primary" onclick="cerrar('dialog_cliente_csv');" value="Separar por ;">
        </form>
    </div>
</div>
<div [ngStyle]="{ display: helperService.modalOpen ? 'block' : 'none', opacity: 1 } " class="modal fade ng-hide"
    role="dialog">
    <form id="form_pdf_cliente" name="formPDF" method="post" action="./reporte/gestionPDF.php" target="_blank">
        <input type="hidden" name="nombre" value="cliente">
        <input type="hidden" name="nombre_rpt" value="CLIENTES">
        <input type="submit" class="btn btn-primary" value="PDF">
    </form>
</div>

<div id="mdlSample" class="modal fade" role="dialog"
    [ngStyle]="{ display: helperService.modalOpen ? 'block' : 'none', opacity: 1 }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color: white;">{{ helperService.modalTitle }}</h4>
            </div>
            <div class="modal-body">{{ helperService.modalContent }}</div>

            <div class="modal-footer">
                <button type="button" id="btnOK" class="btn btn-success" (click)="helperService.openModal(false)">
                    <i class="fa fa-check fa-fw"></i> Ok
                </button>
            </div>
        </div>
    </div>
</div>